modules = ["go"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "go_run"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "go-run"

[[workflows.workflow]]
name = "go_run"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run main.go"

[[workflows.workflow]]
name = "go-run"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "make run"

[deployment]
run = ["sh", "-c", "go run main.go"]
